.compact {
  ::ng-deep .mat-mdc-text-field-wrapper {
    height: 34px !important;
    font-size: 14px;
  }

  ::ng-deep .mat-mdc-floating-label {
    height: 44px !important;
  }

  mat-label {
    font-size: 14px;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    margin-top: -11px;
  }
}
